[submodule "modules/yasnippet"]
	path = modules/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "modules/auto-complete"]
	path = modules/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "modules/php-mode"]
	path = modules/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "modules/flycheck"]
	path = modules/flycheck
	url = https://github.com/lunaryorn/flycheck.git
[submodule "modules/s"]
	path = modules/s
	url = https://github.com/magnars/s.el.git
[submodule "modules/dash"]
	path = modules/dash
	url = https://github.com/magnars/dash.el.git
[submodule "modules/haskell-mode"]
	path = modules/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
